h1,h2,h3,p{
    margin: 0;
}
.gallery{
    padding-top: 15px;
    display: flex;
flex-wrap: wrap;
gap: 25px;
}
.photo-card{
    box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.3);
}
.info{
    padding-left: 10px;
}